{% extends 'layout.twig' %}

{% block content %}
<div class="card">
	<form method="post">
		<h5 class="card-header">Permisos de edición</h5>
		<a href="{{ 'admin' | url }}" type="button" class="btn btn-outline-secondary btn-lg btn-block rounded-0">Atrás</a>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Grupo</th>
							<th>Asistencia</th>
							<th>Admin Panel</th>
							<th>DMOS</th>
						</tr>
					</thead>
					<tbody>
						{% for group in groups %}
							<tr>
								<td>{{ group.g_title }}</td>
								<td><input type="checkbox" value="1" class="" name="pcls_attendant"></td>
								<td><input type="checkbox" value="1" class="" name="pcls_admin"></td>
								<td><input type="checkbox" value="1" class="" name="pcls_dmos"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<input type="button" class="btn btn-secondary btn-lg btn-block rounded-0" value="Guardar">
	</form>
</div>
{% endblock %}