{% extends 'layout.twig' %}

{% block content %}
<div class="card">
	<form method="post">
		<h5 class="card-header">Unidades de Combate</h5>
		<a href="{{ 'admin' | url }}" type="button" class="btn btn-outline-secondary btn-lg btn-block rounded-0">Atrás</a>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Rango</th>
							<th>Jerarquía</th>
							<th>Abreviación</th>
							<th>T.E.R.</th>
							<th>Asistencia</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for rank in ranks %}
							<tr>
								<td>{{ rank.title }}</td>
								<td>{{ rank.pay_grade }}</td>
								<td>{{ rank.abbreviation }}</td>
								<td><input type="number" placeholder="Días" class="form-control form-control-lg" name="time"></td>
								<td><input type="number" placeholder="Porcentaje (%)" class="form-control form-control-lg" name="attendant"></td>
								<td><input type="number" placeholder="Puntos" class="form-control form-control-lg" name="points"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<input type="button" class="btn btn-secondary btn-lg btn-block rounded-0" value="Guardar">
	</form>
</div>
{% endblock %}