<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>CLS | Crear Evento</title>
  </head>
  <body>
    <div class="container py-5">
      <form action="event.html" method="POST">
        <div class="card">
          <h4 class="card-header">Nomina</h4>
          <div class="body p-3">
            <h4>Confirmacion de las invitaciones</h4>
            <div class="row my-3">
              <div class="col-lg-6 col-md-12 my-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Alfa</h5> 
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-left">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Confirmacion</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><label for="personList1">SSG M.Duarte</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personList2">SGT A.Araneda</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personList3">CPL B.Islas</label></td>
                              <td>Suspendido</td>
                            </tr>
                            <tr>
                              <td><label for="personList4">SPC S.Lopez</label></td>
                              <td>Licencia</td>
                            </tr>
                            <tr>
                              <td><label for="personList5">PFC A.Manasse</label></td>
                              <td>No asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personList6">PFC W.Luzzi</label></td>
                              <td>Asistira</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 my-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Bravo</h5> 
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-left">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Confirmacion</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><label for="personListB1">A.Sputnicks</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personListB2">F.Pucara</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personListB3">A.Lockonstrattos</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personListB4">C.Rodriguez</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personListB5">A.Marquez</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personListB6">S.Antuel</label></td>
                              <td>Asistira</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-lg-6 col-md-12 my-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Reclutas</h5> 
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-left">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Confirmacion</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><label for="personList1">SSG M.Duarte</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personList2">SGT A.Araneda</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personList3">CPL B.Islas</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personList4">SPC S.Lopez</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personList5">PFC A.Manasse</label></td>
                              <td>No asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personList6">PFC W.Luzzi</label></td>
                              <td>Asistira</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 my-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Confirmacion Mayor</h5> 
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table text-left">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Confirmacion</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><label for="personListB1">A.Sputnicks</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personListB2">F.Pucara</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personListB3">A.Lockonstrattos</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                            <tr>
                              <td><label for="personListB4">C.Rodriguez</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personListB5">A.Marquez</label></td>
                              <td>Asistira</td>
                            </tr>
                            <tr>
                              <td><label for="personListB6">S.Antuel</label></td>
                              <td>Sin confirmar</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="submit" value="Guardar" class="btn btn-outline-info btn-lg btn-block rounded-0">
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>

